/**, *:before, *:after {
	box-sizing: border-box;

	border: dotted 1px blue;
}*/


/**************************
mobile first
**************************/

h1, h2 {
	font-family: 'Amatic SC', Sans-Serif;
	margin: 0;
}

h1 {
	font-size: 5em;
}

a {
	text-decoration: none;
}

body {
	background-color: darkgrey;
}

img {
	background-color: lightblue;
}

.tile {
	display: block;
	background-color: #ded3ca;
	border: solid 5px #5f6273;
}


#titleTile, #searchTile, #mediaTile {
	text-align: center;
}


.leftTiles, 
.rightTiles {}
}

.leftTiles {}
.rightTiles {}

#titleTile, #searchTile {
	clear: right;
}

#wrapper {
	display: flex;
	flex-direction: column;
}


/*****title tile******************/

#titleTile {
	max-width: 615px;
}

#logotext {}


/*******turntable tile*********************/

#turntableTile {
	position: relative;
	max-width: 615px;
	max-height: 477px;	
}

#turntableTile img {
	z-index: -1;
	max-width: 100%;
}

#artRotating {
	position: absolute;
	top: 34%;
	left: 27%;
	max-width: 23%;
}

#artRotating img {
	border-radius: 100%;
	max-width: 100%;
}

/*****NOW PLAYING***************************/

#mediaInfo {
	position: absolute;
	bottom: 2%;
	right: 5%;
}

.nowPlaying {
	text-align: right;
	line-height: .6em;
	width: 10em;
	margin: 0;
	padding: none;
	color: #FFF;
	text-shadow: 2px 2px 5px #000;
}

#artistText {
	font-weight: bold;
}

#albumText {
	font-style: italic;
} 

#trackText {}


/****Search Tile**************************/

#searchTile {
	position: relative;
	display: block;
	max-width: 350px;
	max-height: 175px;
}

#searchTile img {
	z-index: -1;
	max-width: 100%;
	opacity: .75;
}

#search {
	position: absolute;
	top: 15%;
	width: 100%;
	display: block;
}

#search h2 {
	font-size: 3em;
	font-weight: bold;
	color: #fff;
	text-shadow: 5px 5px 10px #000;
}

#searchBox {
	width: 50%;
	line-height: 1.5em;
}

#options {

}

/****** Media Tile *************************/

#mediaTile {}

#albumArt {
	max-width: 350px;
	max-height: 350px;
	border-bottom: inherit;
}
























