/**, *:before, *:after {
	box-sizing: border-box;

	border: dotted 1px blue;
}*/


/**************************
mobile first
**************************/

h1, h2 {
	font-family: 'Amatic SC', Sans-Serif;
	margin: 0;
}

h1 {
	font-size: 5em;
}

a {
	text-decoration: none;
}

body {
	background-color: darkgrey;
}

img {
	background-color: lightblue;
}

.tile {
	display: block;
	background-color: #ded3ca;
	border: solid 5px #5f6273;
}


#titleTile, #searchTile, #mediaTile {
	text-align: center;
}


.leftTiles, 
.rightTiles {}
}

.leftTiles {}
.rightTiles {}

#titleTile, #searchTile {
	clear: right;
}

#wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 2em auto;

}


/*****title tile******************/

#titleTile {
	max-width: 615px;
}

#logotext {}


/*******turntable tile*********************/

#turntableTile {
	position: relative;
	max-width: 360px;
	max-height: 477px;	
}

#turntableTile img {
	z-index: -1;
	max-width: 100%;
}

#artRotating {
	position: absolute;
	top: 34%;
	left: 27%;
	max-width: 23%;
}

#artRotating img {
	border-radius: 100%;
	max-width: 100%;
}

/*****NOW PLAYING***************************/

#mediaInfo {
	position: absolute;
	bottom: 2%;
	right: 5%;
}

.nowPlaying {
	text-align: right;
	line-height: .6em;
	width: 10em;
	margin: 0;
	padding: none;
	color: #FFF;
	text-shadow: 2px 2px 5px #000;
}

#artistText {
	font-weight: bold;
}

#albumText {
	font-style: italic;
} 

#trackText {}


/****Search Tile**************************/

#searchTile {
	position: relative;
	display: block;
	max-width: 350px;
	max-height: 175px;
}

#searchTile img {
	z-index: -1;
	max-width: 100%;
	opacity: .75;
}

#search {
	position: absolute;
	top: 15%;
	width: 100%;
	display: block;
}

#search h2 {
	font-size: 3em;
	font-weight: bold;
	color: #fff;
	text-shadow: 5px 5px 5px #000, 1px 1px 5px #000;
}

#searchBox {
	width: 50%;
	line-height: 1.5em;
}

#optionsButton {
	font-size: 4em;
	font-weight: bold;
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	text-shadow: 5px 5px 5px #000, 1px 1px 5px #000;
	line-height: .8em;
	border: none;
	margin-top: .1em;
}

/************ Media Tile *************************/

#mediaTile {
	max-width: 350px;
}

#albumArt {
	max-width: 350px;
	max-height: 350px;
	border-bottom: inherit;
}

/****** Media Controls ********************************/

#mediaControls {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: stretch;
	max-width: 350px;
	max-height: 22px;
	height: 22px;
	border-bottom: inherit;
}

#mediaControls button {
	background: none;
	text-align: center;
}

#rewindButton, 
#playButton, 
#ffButton, 
#fullscreen {
	border: none;
	border-right: solid 5px #5f6273;
	padding-top: 2px;
	padding-bottom: 2px;
}

#frontBack {
	border: none;
}

#mediaTags {
	height: 21px;
	max-width: 350px;
	max-height: 21px;
	display: flex;
}

#mediaTags p {
	align-items: stretch;
	margin: auto;
}



















