*, *:before, *:after {
	box-sizing: border-box;

	border: dotted 1px blue;
}


/**************************
web first
**************************/

body {

}

#header {
	text-align: center;
}

#results-container {
	max-width: 60%;
	margin: auto;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	border: solid 1px black;
	height: 200px;
}

img {
	float: left;
	width: 200px;
	height: 200px;
	background-color: grey;
}

#result-info {
	
	padding-left: 1em;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	
}

#result-info p {
	margin:0;
	padding: 0;
}


